body {
  background-image: url("../assets/crew/background-crew-desktop.jpg");
  font-family: 'Merriweather', serif;
  margin: 0;
}

a:hover {
  color: #EAF6F6;
}

.top_container {
  background-color: #0A1931;
  width: 600px;
  text-align: center;
  margin: 50px 0 auto auto;
  padding: 50px 50px 50px 50px;
  opacity: 0.5;
}

.header {
  color: #11999E;
  margin: auto 10px auto 20px;
  font-family: 'Dealerplate', sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
}

.header_crew {
  width: 500px;
  text-align: center;
  margin: 50px 0 auto auto;
  padding: 20px 150px 20px 0;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 100px;
}

.crew {
  color: #11999E;
  margin: auto 10px auto 20px;
  font-family: 'Dealerplate', sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bolder;
}

.front {
  width: 30%;
  font-family: 'Dealerplate', sans-serif;
  color: #11999E;
  word-spacing: 8px;
  letter-spacing: 2px;
  text-align: center;
  position: absolute;
  top: 120px;
  left: 100px;
}

.name {
  font-family: 'Bellefair', serif;
  width: 30%;
  margin: 30px auto 50px 0;
  color: white;
  font-size: 42PX;
  font-weight: bold;
  position: absolute;
  top: 400px;
  left: 100px;
}

.intro {
  width: 30%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  color: #11999E;
  position: absolute;
  top: 480px;
  left: 100px;
}

img {
  width: 495px;
  height: 495px;
  position: absolute;
  right: 100px;
  top: 170px;
}

.commander {
  color: #11999E;
  width: 15%;
  font-family: 'Bellefair', serif;
  position: absolute;
  top: 350px;
  left: 100px;
}
